/* Custom styling for the Home page */
.addButton {
    font-size: 15px;
    padding: 6px 1.5% !important;
}

.addButton:hover {
    background-color: var(--main-color);
}

/* Tabs */
.tabsList {
    padding: 0;
}

.tab {
    background-color: #E6E2F1;
    border-radius: 999px;
    font-size: 15px;
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 1%;
}

.tab.active {
    background-color: var(--primary);
    color: white;
    font-weight: bold;
}

.tabPanel {
    height: Calc(100% - 51px);
}

/* Overview Tables */
.overviewTable {
    width: 100;
}

/* Form Modal */
.formModalHeader {
    height: 50px;
    width: fit-content;
    background-color: var(--main-color-dark);
}

.formModalHeaderTitle {
    font-size: 20px !important;
}

.formModalHeaderButton {
    height: 30px;
    margin-top: 20px;
    right: 0;
    top: 0;
    background-color: #404040;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.formModalBody {
    height: Calc(100% - 50px);
    overflow-y: scroll;
}

.formModalBody.secondary {
    margin-top: 50px !important;
}


/* Forms */

.secondaryForm {
    background-color: rgb(12, 134, 198, 0.2);
}

.formFieldTitle {
    font-size: 15px;
}

.formField {
    border: 1px solid var(--grey);
    border-radius: 8px;
}

select option[value="new"] {
    background-color: var(--main-color);
    color: white;
}

.formFieldArrayOptionTitle {
    font-size: 14px;
}

.formFieldArrayOption {
    background-color: var(--greyLight);
}

.formArrayAddButton {
    background-color: transparent;
    border: none;
    color: var(--accent);
    font-size: 14px;
}

.formArrayRemoveButton {
    background-color: transparent;
    border: none;
    color: var(--denied);
    font-size: 14px;
}

.formButton {
    background-color: var(--accent);
    color: white;
    border: none;
    border-radius: 8px;
    transition: 0.4s;
}

.formButton.delete {
    background-color: var(--denied);
}

.formButton:hover {
    background-color: var(--primary);
    color: white;
}


/* Mapping Construction */

.mappingConstructBlock {
    border: 1px solid var(--main-color-dark);
    border-radius: 8px;
    overflow: scroll;
}

.mappingConstructionCoverDiv {
    background-color: rgb(134, 134, 150, 0.3);
    border-radius: 8px;
    font-weight: bold;
}

.mappingTitle {
    font-size: 15px;
    font-weight: bold;
}

.removeMappingIcon {
    font-size: 14px;
    color: var(--greyDark);
    cursor: pointer;
}

.addMappingButton {
    background-color: var(--grey);
    font-size: 14px;
}