/* Custom styling for the Home page */

.addButton {
    background-color: var(--main-color-dark);
    border: none;
    color: white;
    border-radius: 8px;
    transition: 0.4s;
}

.addButton:hover {
    background-color: var(--main-color);
}


/* Overview Tables */

.overviewTable {
    width: 100;
}


/* Form Modal */

.formModalHeader {
    height: 50px;
    width: fit-content;
    background-color: var(--main-color-dark);
}

.formModalHeaderTitle {
    font-size: 20px !important;
}

.formModalHeaderButton {
    height: 30px;
    margin-top: 20px;
    right: 0;
    top: 0;
    background-color: #404040;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.formModalBody {
    height: Calc(100% - 50px);
}

.formModalBody.secondary {
    margin-top: 50px !important;
}


/* Forms */

.secondaryForm {
    background-color: rgb(12, 134, 198, 0.2);
}

.formFieldTitle {
    font-size: 15px;
}

.formField {
    border: 1px solid var(--grey);
    border-radius: 8px;
}

select option[value="new"] {
    background-color: var(--main-color);
    color: white;
}

.formButton {
    background-color: white;
    border: 1px solid var(--main-color);
    border-radius: 8px;
    transition: 0.4s;
}

.formButton:hover {
    background-color: var(--main-color);
    color: white;
}


/* Mapping Construction */

.mappingConstructBlock {
    border: 1px solid var(--main-color-dark);
    border-radius: 8px;
    overflow: scroll;
}

.mappingConstructionCoverDiv {
    background-color: rgb(134, 134, 150, 0.3);
    border-radius: 8px;
    font-weight: bold;
}

.mappingTitle {
    font-size: 15px;
    font-weight: bold;
}

.removeMappingIcon {
    font-size: 14px;
    color: var(--greyDark);
    cursor: pointer;
}

.addMappingButton {
    background-color: var(--grey);
    font-size: 14px;
}