/* Root variables */

:root {
  --main-color: #0C86C6;
  --main-color-light: #d6e0f5;
  --main-color-dark: #1c497d;
  --alt-color-1: #00BAAF;
  --alt-color-2: #00BED1;
  --alt-color-3: #0099B9;
  --main-color-green: #009973;

  --greyXLight: #F4F4F1;
  --greyLight: #E9E8E3;
  --grey: #D9D9DF;
  --greyMedium: #B4B4BF;
  --greyDark: #868696;

  --new: #10C1FF;
  --handled: #F7A112;
  --approved: #3DCA77;
  --denied: #E74C3C;
  --resolved: var(--greyMedium);
}


/* General Styling */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.content {
  height: 90%;
}


/* Bootstrap class overwrite */

.tab-content {
  height: Calc(100% - 41px);
  border-top: 1px solid #d9d9d9;
}

.nav-tabs .nav-item.show, .nav-tabs .nav-link.active {
  color: white;
  background-color: var(--main-color-dark);
  border-color: none;
}

.nav-link {
  color: #333333;
  font-size: 14px;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-link:hover{
  color: gray
}

.tab-pane {
  height: 100%;
  padding-top: 2%;
}